<div class="full-size">
    <app-interactive-video></app-interactive-video>
    <mlc-footer style=" width: 97.5%; height: 12vh; position: absolute; bottom: 0;"
    trySvg="mini-lessons/executive-functions/interactive-video/buttons/check.svg"
    surrenderSvg="mini-lessons/executive-functions/interactive-video/buttons/surrender.svg"
    resultsSvg="mini-lessons/executive-functions/interactive-video/buttons/copa-memotest.svg"
    nextSvg="mini-lessons/executive-functions/interactive-video/buttons/next-memotest.svg"></mlc-footer>
</div>
