.option-container {
    margin: 4vh 0;
    width: 100%;
    opacity: 0;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    color: white;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: lightblue;
    width: 1.5em;
    height: 1.5em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.form-control+.form-control {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #882FF6;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid #882FF6;
    outline-offset: max(2px, 0.15em);
}



.question-container {
    padding: 6vh;
    height: 17vh;
    border-radius: 35px;
    margin-top: 3vh;
    max-width: 80%;
}


.question-container::after {
    content: "";
    position: absolute;
    margin-top: 3vh;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    animation: animates 1s ease-in-out forwards;
    border: 2.5px solid transparent;

}

.question-container::before {
    content: "";
    position: absolute;
    margin-top: 3vh;
    top: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    animation: animate 1s ease-in-out forwards;
    border: 2.5px solid transparent;
}


@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: white;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}




@keyframes animates {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
    }

    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: white;
        border-left-color: white;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: white;
        border-left-color: white;
    }

}