<div #videoContainer  class="full-size" style="position: relative;width: 100%; height:100%" fxLayoutAlign="center center" fxFlex="grow">
    <youtube-player #video
    (ready)="onReady($event)"
    (stateChange)="onStateChange($event)"
    [videoId]="videoId"
    [width]="videoWidth"
    [height]="videoHeight"
    [playerVars]="videoPlayerVars"
    style="pointer-events: none" 
    >
  </youtube-player>
  <div class="full-size" (click)="playPauseEvent()" style="position: absolute;">
  </div>
   <div *ngIf="!challengeService.questionOn" fxLayoutAlign="space-evenly center" style="width:100%; height: 10vh;background-image: linear-gradient(180deg, #666666, #000000); z-index: 1000; position: absolute; bottom:0 ">
    <div fxLayoutAlign="center center">
    <div class="rewind-container" (click)="videoTranslation(false)">
      <div class="movement-button"></div>
      <div class="movement-button" style="transform:translateX(2vh)"></div>
    </div> 
    <div class="playpause" (click)="playPauseEvent(undefined, $event)">
      <input #playPauseInput type="checkbox" [defaultChecked]="true" value="None" id="playpause" name="check" />
      <label for="playpause" tabindex=1></label>
    </div>
    <div class="foward-container" (click)="videoTranslation(true)">
      <div class="movement-button"></div>
      <div class="movement-button" style="transform:translateX(2vh)"></div>
    </div>
  </div>
    <div  class="custom-slider" style=" width:60%; transform: translateY(-1.4vh);">
      <ngx-slider [options]="videoOptions" [(value)]="currentTime"></ngx-slider>
    </div>
    <div style="color:#CDCDCD; transform: translateY(0.8vh); font-size: 2.5vh;">
      <p>{{currentTimeToShow}} / {{durationToShow}}</p>
    </div>
    <div style="width:5vh; cursor: pointer;" (click)="soundOnOff()">
      <img [src]="soundImage">
    </div>
  </div>  
  <div #activityContainer style=" position: absolute; width: 100%; height:100%; transform: translateY(100vh);"  >
  <app-activity #activity [exercise]="exercise" class="full-size" style=" position: absolute;" ></app-activity>
</div> 
</div>