<div #videoContainer  class="full-size" style="position: relative;width: 100%; height:100%" fxLayoutAlign="center center" fxFlex="grow">
    <youtube-player #video
    (ready)="onReady($event)"
    (stateChange)="onStateChange($event)"
    [videoId]="videoId"
    [width]="videoWidth"
    [height]="videoHeight"
    [playerVars]="videoPlayerVars"
    style="pointer-events: none" 
    >
  </youtube-player>
  <div class="full-size" (click)="playPauseEvent()" style="position: absolute;">
  </div>
   <div *ngIf="!challengeService.questionOn" fxLayoutAlign="space-evenly center" style="width:100%; height: 10vh;background-image: linear-gradient(180deg, #666666, #000000); z-index: 1000; position: absolute; bottom:0 ">
    <div fxLayoutAlign="center center">
    <div class="rewind-container" (click)="movementCondition(false,3)" [ngStyle]="{'cursor': blockMovementButton ? 'not-allowed' : 'pointer' }">
      <div class="movement-button" style="transform:translateY(0.5vh)"></div>
      <div class="movement-button" style="transform:translate(2vh, 0.5vh)"></div>
    </div> 
    <div class="playpause" (click)="playPauseEvent(undefined, $event)" >
      <input #playPauseInput type="checkbox" [defaultChecked]="true" value="None" id="playpause" name="check" />
      <label for="playpause" tabindex=1></label>
    </div>
    <div class="foward-container" (click)="movementCondition(true,3)" [ngStyle]="{'cursor': blockMovementButton ? 'not-allowed' : 'pointer' }">
      <div class="movement-button" style="transform:translateY(0.5vh)"></div>
      <div class="movement-button" style="transform:translate(2vh, 0.5vh)"></div>
    </div>
  </div>
    <div #slider class="custom-slider" style=" width:60%; transform: translateY(-1.4vh);">
      <ngx-slider  [options]="videoOptions" style="transform: translateY(1vh);" [(value)]="integratedVideoTime"></ngx-slider>
      <div style="
      height: 1.5vh;
       position: relative; background-color: transparent;" [ngStyle]="{'width': sliderWidth}" fxLayoutAlign="start center">
    <div *ngFor="let ex of challengeService.exerciseConfig.questionResume; let i = index" style="width:0.5vh; height:1.5vh; background-color:#FAFA33;position: absolute;" [ngStyle]="{'transform': 'translateX(' + (ex.positionInVideo ) + 'px)', 'opacity' : correctAnswerCounter  > i ? '0.4' : '1' }">
   </div>
   </div>     
    </div>
    <div style="color:#CDCDCD; transform: translateY(0.8vh); font-size: 2.5vh;">
      <p>{{currentTimeToShow}} / {{durationToShow}}</p>
    </div>
    <div style="width:5vh; cursor: pointer;" (click)="soundOnOff()">
      <img [src]="soundImage">
    </div>
  </div>  
  <div #activityContainer style=" position: absolute; width: 100%; height:100%; transform: translateY(100vh);"  >
  <app-activity *ngIf="!challengeService.finishedTime && !rewindActivated" #activity [exercise]="exercise" class="full-size" style=" position: absolute;" ></app-activity>
</div> 
</div>